

    {{#if listeLettres}}
      <div class="listeLettres">
    		<span> Cliquez sur une lettre : </span>
    		{{#each listeLettres}}
    		<span>
    			<a href="/repertoirePilote/{{lettre}}"> {{lettre}}</a>
    		</span>
    		{{/each}}
    	</div>
    {{/if}}
    {{#if detailsPilote}}
      <div class="wrapper">
        <div class="pilote-wrapper">
          <img src="/image/pilote/{{photoPrincipale.phoadresse}}" alt="Pilote de F1">
        </div>
        <div>
          <p><b>Nom: </b>{{detailsPilote.pilnom}} {{detailsPilote.pilprenom}}</p>
          <p><b>Date de naissance: </b>{{detailsPilote.pildatenais}}</p>
          <p><b>Nationalité: </b>{{detailsPilote.paynom}}</p>
          <p><b>Ecurie: </b>
            {{#if ecurie}}
              {{ecurie.ecunom}}
            {{else}}
              Pas d'écurie cette année
            {{/if}}
          </p>
        </div>
        <div>
          <p><b>Poids: </b>{{detailsPilote.pilpoids}} Kg</p>
          <p><b>Taille: </b>{{detailsPilote.piltaille}} Cm</p>
        </div>
      </div>
    {{/if}}
    {{#if listeSponsors}}
      <span> <b> Principaux sponsors : </b> </span>
      {{#each listeSponsors}}
        <p><b>{{this.sponom}}</b> ({{this.sposectactivite}})</p>
      {{/each}}
    {{/if}}
    {{#if detailsPilote}}
      <p>{{detailsPilote.piltexte}}</p>
    {{/if}}
    {{#if photos}}
      <div class="wrapper">
        {{#each photos}}
        <div>
          <a href="/image/pilote/{{this.phoadresse}}" data-lightbox="roadtrip" data-title="{{this.phocommentaire}}">
            <img src="/image/pilote/{{this.phoadresse}}" alt="pilote de f1" class="imgpil"/>
          </a>
        </div>
        {{/each}}
      </div>
    {{/if}}
    <script src="/js/lightbox.js"></script>
