<h1>Liste des circuits enregistrés</h1>
{{#if detailsCircuit}}
<div class="wrapper">
	<div>
	    <img src="/image/circuit/{{detailsCircuit.ciradresseimage}}" alt="image du circuit" class="circuitimg" />
		</div>
		<div>
	    <div>
	      <b>Nom: </b> {{detailsCircuit.cirnom}}
	    </div>
	    <div>
	      <b>Longueur: </b>{{detailsCircuit.cirlongueur}} m
	    </div>
	    <div>
	      <b>Nombre de spectateurs: </b>{{detailsCircuit.cirnbspectateurs}}
	    </div>
	    <div>
	      <b>Pays: </b>{{detailsCircuit.paynom}}
	    </div>
	</div>
{{/if}}
	<div>
	<table class="tabpayscir">
		 {{#each listeCircuit}}
			<tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" />
	      <a href="/circuits/{{this.cirnum}}"> {{this.cirnom}}</a>
	    </td></tr>
	 {{/each}}
	</table>
	<br class="myboth"/>
	</div>
{{#if detailsCircuit}}
</div>
	<p id="desccircuit">{{detailsCircuit.cirtext}}</p>
{{/if}}
<br class="myboth" />
