<div class="centermydiv">
    <img src="image/cat_pilote.png" alt="un casque de pilote">
    <h1>Gestion des Pilotes</h1>
    <div class="spacer">
        <a href="/ajouterPilote">
          <img src="image/act_add.png" alt="ajouter" title="Ajouter"/>
          Ajouter un pilote
        </a>
    </div>
  <table class="tablestyle">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody name="table-start">
      {{#if listePilotes}}
      {{#each listePilotes}}
      <tr>
        <td>{{this.pilnom}}</td>
        <td>{{this.pilprenom}}</td>
        <td>{{this.pildatenais}}</td>
        <td>
          <a href="/modifierPilote/{{this.pilnum}}" class="modifier">
            <img src="image/act_edit.png" alt="modifier" title="Modifier"/>
            Modifier
          </a>
          <a href="/pilotes/supprimer/{{this.pilnum}}" class="supprimer">
            <img src="image/act_delete.png" alt="supprimer" title="Supprimer"/>
            Supprimer
          </a>
        </td>
      </tr>
      {{/each}}
      {{/if}}
  </tbody>
  </table>
</div>
<br class="myboth" />
