<div class="centermydiv">
    <img src="image/cat_circuit.png" alt="un drapeau de F1">
    <h1>Gestion des Circuits</h1>
    <div class="spacer">
        <a href="/ajouterCircuit">
          <img src="image/act_add.png" alt="ajouter" title="Ajouter"/>
          Ajouter un circuit
        </a>
    </div>
  <table class="tablestyle">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Longueur</th>
        <th>Nombre de spectateurs</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody name="table-start">
      {{#if listeCircuits}}
      {{#each listeCircuits}}
      <tr>
        <td>{{this.cirnom}}</td>
        <td>{{this.cirlongueur}}</td>
        <td>{{this.cirnbspectateurs}}</td>
        <td>
          <a href="/modifierCircuit/{{this.cirnum}}" class="modifier">
            <img src="image/act_edit.png" alt="modifier" title="Modifier"/>
            Modifier
          </a>
          <a href="/circuits/supprimer/{{this.cirnum}}" class="supprimer">
            <img src="image/act_delete.png" alt="supprimer" title="Supprimer"/>
            Supprimer
          </a>
        </td>
      </tr>
      {{/each}}
      {{/if}}
  </tbody>
  </table>
</div>
<br class="myboth" />
