<script src="/js/datePicker.js"></script>
<div class="centermydiv">
	<h1>Modifier un pilote</h1>
</div>

{{#if detailsPilote}}
<form method="POST">
	<div class="form-style">
		<div class="input-style">
			<label for="nom">Nom: </label>
			<input name="nom" value="{{detailsPilote.pilnom}}" pattern="[A-Za-z,-, ]*" required>
		</div>
		<div class="input-style">
			<label for="prenom">Prénom: </label>
			<input name="prenom" value="{{detailsPilote.pilprenom}}" pattern="[A-Za-z,-, ]*" required>
		</div>
		<div class="input-style">
			<label for="datenais">Date de naissance: </label>
			<input name="datenais" pattern="[0-3][0-9]/[0,1][0-9]/[0-9]{4}" value="{{detailsPilote.pildatenais}}" class="datepicker" required>
		</div>
		<div class="input-style">
			<label for="nationalite">Nationalité: </label>
			{{#if listeNationalite}}
			<select name="nationalite">
				{{#each listeNationalite}}
					<option value="{{this.paynum}}"
					{{#cond this.paynum "==" ../detailsPilote.paynum}}
					selected="selected"
					{{/cond}}
					> {{this.paynat}} </option>
				{{/each}}
			</select>
			{{/if}}
		</div>
		<div class="input-style">
			<label for="ecurie">Ecurie: </label>
			<select name="ecurie">
				{{#if listeEcurie}}
					{{#each listeEcurie}}
						<option value="{{this.ecunum}}"
							{{#cond this.ecunum "==" ../detailsPilote.ecunum}}
							selected="selected"
							{{/cond}}
					> {{this.ecunom}} </option>
					{{/each}}
				{{/if}}
			</select>
		</div>
		<div class="input-style">
			<label for="points">Points: </label>
			<input name="points" pattern="[0-9]*"
				{{#if detailsPilote.pilpoints}}
					value="{{detailsPilote.pilpoints}}"
				{{else}}
					value="0"
				{{/if}} required> pts
		</div>
		<div class="input-style">
			<label for="poids">Poids: </label>
			<input name="poids" pattern="[0-9,.]*" value="{{detailsPilote.pilpoids}}" required> kg
		</div>
		<div class="input-style">
			<label for="taille">Taille: </label>
			<input name="taille" pattern="[0-9]*" value="{{detailsPilote.piltaille}}" required> cm
		</div>
		<div class="input-style">
			<label for="description">Description: </label>
			<textarea rows="2" cols="40" name="description">{{detailsPilote.piltexte}}</textarea>
		</div>
	</div>
	<div class="centermydiv">
		<input type="submit" value="Modifier" class="button-style">
	</div>
</form>
{{else}}
<p class="error">Une erreur est survenue</p>
{{/if}}
